<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new chat</title>
  </head>
  <body>
    <form action="http://localhost:3000/chats" method="post">
      <input type="text" name="from" placeholder="Enter your name" />
      <br /><br />
      <input type="text" name="msg" placeholder="Message" />
      <br /><br />
      <input type="text" name="to" placeholder="Enter Receiver name" />
      <br /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
