<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show chat</title>
</head>
<body>
    <p>Your chat id is <strong><%= chat._id %></strong></p>
    <p>Message is send from <strong><%= chat.from %></strong> to <strong><%= chat.to %></strong></p>
    <p>message: <strong><%= chat.msg %></strong></p>
</body>
</html>