<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Templete</title>
</head>
<body>
    <h1>This is home templete</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis expedita minima dolorem possimus iusto ratione quibusdam ducimus saepe sunt tempora quis in ut perspiciatis consequuntur fugit, cumque magni blanditiis.</p>

    <button>Click me!</button>
</body>
</html>