<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections</title>
    <style>
        body{
            background-color: gray;
            color: white;
        }
        #header{
            background-color: red;
            height: 20px;
        }
        #footer{
            background-color: black;
        }
    </style>
</head>
<body>
    <%- include("includes/header.ejs") %>
    <div class="main">
        <h1>This is main content</h1>
    </div>
    <%- include("includes/footer.ejs") %>
</body>
</html>